{% load static %}
{% block content %}
<div>
  <h1>{{ cv_item.full_name }}</h1>
  <h2>{{cv_item.role}}</h2>
  <p>{{cv_item.bio}}</p>
  <span>{{cv_item.contacts}}</span>

  {% if cv_item.skills.all %}
  <h3>Skills</h3>
  <ul>
    {% for skill in cv_item.skills.all %}
    <li>{{ skill.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if cv_item.projects.all %}
  <h3>Projects</h3>
  {% for project in cv_item.projects.all %}
  <div>
    <h4>{{ project.title }}</h4>
    <p>{{ project.description }}</p>
    {% if project.link %}
    <p>Link: {{ project.link }}</p>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
